:root {
  --primary-color: #00204a;
  --secondary-color: #005792;
  --tertiary-color: #00bbf0;
  --quarternary-color: #fdb44b;
}

body {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
li a {
  background-color: var(--primary-color);
  color: var(--quarternary-color);
  display: block;
  height: 50px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  width: 310px;
}

li a:hover: not(.active) {
  background-color: var(--tetiary-color);
  color: var(--quarternary-color);
}
li {
  float: left;
  border-right: 1px solid var(--quarternary-colorcolor);
}

p {
  hyphens: auto;
}

section {
  font-size: inherit;
}
ul {
  border: 5px solid var(--quarternary-colorcolor);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky top;
  position: -webkit-sticky;
  top: 5px;
  width: 100%;
}

.active {
  background-color: var(--tertiary-colorcolor);
}

.menu-options {
  display: flex;
  justify-content: space-evenly;
}
